<div class="formulario">
    <h2>Agrega un nuevo libro a tu biblioteca</h2>
    <div>
        <label for="titulo">Título</label>
        <input id="titulo" placeholder="Introduce el título del libro">
    </div>
    <div>
        <label for="autor">Autor</label>
        <input id="autor" placeholder="Introduce el autor del libro">
    </div>
    <div>
        <label for="url">Portada</label>
        <input id="url" placeholder="Introduce la URL a la portada del libro">
    </div>
    <div>
        <label for="descripcion">Descripción</label>
        <input id="descripcion" placeholder="Introduce una breve descripción del libro">
    </div>
    <div>
        <label for="fechaPublicacion">Fecha de publicación</label>
        <input id="fechaPublicacion" placeholder="Introduce la fecha de publicación del libro">
    </div>
    <button>Agregar</button>
</div>
